@inject IJSRuntime JSRuntime
@inject Callbacker Callbacker
@inject NavigationManager NavigationManager
@using System.Security.Claims
@using Microsoft.AspNetCore.Http

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">LandroidWorxApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Products">
                <span class="oi oi-check" aria-hidden="true"></span> Select Mower
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Status
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Scheduler">
                <span class="oi oi-plus" aria-hidden="true"></span> Scheduler
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Zones">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> Manage Zones
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Activities">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Activities
            </NavLink>
        </li>
        <li class="nav-item px-3 d-md-none d-lg-none">
            <NavLink class="nav-link " href="javascript:location.href='/logoutaction'">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="DeleteUser">
                <span class="oi oi-circle-x" aria-hidden="true"></span> Delete User
            </NavLink>
        </li>
    </ul>
</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;
    bool collapseNavMenu = true;
    Interop interop;
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    public static object CreateDotNetObjectRefSyncObj = new object();



    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        user = authState.User;
        interop = new Interop(JSRuntime);
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //The button onclick will call this.
    void DeleteUser()
    {
        if(user.Identity.Name != null)
            JSRuntime.InvokeAsync<object>("interop.showDeleteUserAlert", "warning", "Attention", "Are you sure to completely delete all user data?", "Confirm", "Cancel");
    }
}
